#box{
    position: absolute;
    width: 870px;
    height: 827px;
    left: 303px;
    top: 56px;
    bottom: 56px;

    background: rgba(217, 217, 217, 0.43);
    border-radius: 30px;
}

/* Register through your email */
#heading{
    position: absolute;
    width: 491px;
    height: 55px;
    left: 234px;
    top: 54px;

    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    color: #FFFFFF;
}

.TextName{
    /* Email Address */

    position: absolute;
    width: 300px;
    height: 47px;
    left: 100px;
    top: 150px;

    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 47px;

    color: #FFFFFF;
}

.TextBox{
    /* Rectangle 16 */

    position: absolute;
    width: 661px;
    height: 50px;
    left: 100px;
    top: 200px;

    background: #D9D9D9;

}

.smallText{
    /* This will be used as your email address for Future Logins and Votings */

    position: absolute;
    width: 610px;
    height: 19px;
    left: 100px;
    top: 250px;

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;


}

.cancel{
    /* Group 5 */

    position: absolute;
    width: 219px;
    height: 57px;
    left: 474px;
    top: 823px;

    background: #D5623D;
    border-radius: 14px;


    /* Cancel */

    position: absolute;
    width: 76px;
    height: 37px;
    left: 556px;
    top: 836px;

    font-family: 'Outfit';
    font-style: normal;
    align-content: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    /* identical to box height */

    color: #FFFFFF;


}
